<h1 class="h1">All channels</h1>
<div class="channels-wrapper" appKeyboardNav [switchToChannelsMenu]="switchToChannelsMenu">
  <app-list-item
    #item
    appKeyboardNavItem
    *ngFor="
      let channel of (channels$ | async);
      let index = index;
    "
    [channel]="channel"
    [dirIndex]="index"
    [index]="index"
    (goToFavorites)="goToFavorites($event)"
    (deferLoad)="setLoadImages()"
    [loadImages]="loadImages"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-list-item>
</div>
