<h1 class="h1">All channels</h1>

<!--  <div class="channels-wrapper" #itemContainer appKeyboardNav [switchToChannelsMenu]="switchToChannelsMenu">-->
<!--    <app-list-item-->
<!--      #item-->
<!--      appKeyboardNavItem-->
<!--      *ngFor="-->
<!--        let channel of channels;-->
<!--        let index = index;-->
<!--      "-->
<!--      [channel]="channel"-->
<!--      [dirIndex]="index"-->
<!--      [index]="index"-->
<!--      (goToFavorites)="goToFavorites($event)"-->
<!--      (deferLoad)="setLoadImages()"-->
<!--      [loadImages]="loadImages"-->
<!--      (toggleFavorite)="toggleFavorite($event)"-->
<!--    ></app-list-item>-->
<!--</div>-->

<virtual-scroller #scroll [items]="channels" appKeyboardNav>
  <app-list-item
    appKeyboardNavItem
    *ngFor="let channel of scroll.viewPortItems; let index = index"
    [channel]="channel"
    [dirIndex]="index"
    [index]="index"
    (goToFavorites)="goToFavorites($event)"
    (deferLoad)="setLoadImages()"
    [loadImages]="loadImages"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-list-item>
</virtual-scroller>
