.channels-wrapper {
  top: 0;
  height: 650px;
  overflow: hidden;
  display: grid;
  grid-template-columns: [channel-1]369px [channel-2]369px;
  grid-template-rows: repeat(9, minmax(72px, auto));
  grid-auto-flow: row;
  position: absolute;
  left: 500px;
}

.favorites-wrapper {
  height: 655px;
  grid-auto-flow: column;
}

.wrapper {
  display: flex;
}
