<div appKeyboardNav>
  <app-list-item
    [favorite]="true"
    *ngFor="let channel of favorites; let index = index; last as isLast"
    appKeyboardNavItem="{{ true }}"
    [isLast]="isLast"
    [favLength]="favorites.length"
    [channel]="channel"
    [index]="index"
  ></app-list-item>
  <div class="channels-wrapper">
    <app-list-item
      #item
      appKeyboardNavItem
      *ngFor="let channel of (channels$ | async); let index = index; first as isFirst"
      [channel]="channel"
      [dirIndex]="index"
      [index]="index"
      [favLength]="favorites.length"
    ></app-list-item>
  </div>
</div>
