<!--<app-list-item-wrapper class="abc">-->
  <!--<app-favorites style="margin-right: 20px"></app-favorites>-->
  <!--<app-channels></app-channels>-->
<!--</app-list-item-wrapper>-->

<div class="wrapper" appKeyboardNav>
  <div class="cde">
    <app-list-item
      [favorite]="true"
      *ngFor="let channel of favorites; let index = index; last as isLast"
      appKeyboardNavItem="{{true}}"
      [isLast]="isLast"
      [channel]="channel"
      [index]="index"
    ></app-list-item>
  </div>
  <div class="abc">
    <app-list-item
      #item
      appKeyboardNavItem
      *ngFor="let channel of (channels$ | async); let index = index"
      [channel]="channel"
      [dirIndex]="index"
      [index]="index"
    ></app-list-item>
  </div>
</div>
