<div class="list-item container">
  <span class="channel-number">{{ channel.index + 1 | number: '3.0' }}</span>
  <div class="image-container">
    <img
      src="https://logos.zattic.com/logos/{{
        channel?.highestQuality?.logo_token
      }}/black/84x48.png"
      class="image"
    />
  </div>
  <span class="channel-title">{{ channel?.title }}</span>
  <i *ngIf="!channel.isFavorite" class="fa fa-star-o" aria-hidden="true"> </i>
  <i *ngIf="channel.isFavorite" class="fa fa-star" aria-hidden="true"> </i>
</div>
