/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Font", Arial, sans-serif;
  text-size-adjust: none;
}

body {
  background-color: rgba(26, 26, 26, 0.98);
  overflow: hidden;
}


.h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 21px;
  height: max-content;
}

.span {
  font-weight: 400;
  color: #9b9b9b;
  margin-left: 12px;
}
